<div class="comments mt-3">
  {{#each this}}
  <section class="comment card mb-3">
    <div class="comment-text">
      {{comment_text}}
    </div>
    <div class="meta mb-1  comment-info">
      <a href="/users/{{user.id}}"><b>{{user.username}}</b></a> on {{format_date created_at}}
    </div>
  </section>
  {{/each}}
</div>