{{!-- <div class="">
    <h2 class="title">create new account:</h2>
    <hr>
    <form class="signup-form">
        <div class="mb-2">
            <label for="username-signup">username:</label>
            <input type="text" id="username-signup" />
        </div>
        <div class="mb-2">
            <label for="email-signup">email:</label>
            <input type="text" id="email-signup" />
        </div>
        <div class="mb-2">
            <label for="password-signup">password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit" class="button btn btn-success">signup</button>
        </div>
    </form>
</div> --}}



<div class="mt-5 col-md-12 d-flex justify-content-center login-card">
    <div class="card login-signup text-center">
        <div class="card-body">
            <img class="urLogo" src="/images/richmond-long.png" alt="">
            <h1 class="BC-title">Bootcamp Champ <i class="bi bi-trophy"></i></h1>
            <p class="login-welcome">Welcome! Log in or sign up to view</p>
            <hr>
            <form class="login-form form-outline signup-form">
                <div class="mb-3">
                    <input class="form-control form-control-lg text-center" placeholder="Username" type="text"
                        id="username-signup" />
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-lg text-center" placeholder="Email" type="text"
                        id="email-signup" />
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-lg text-center" placeholder="Password" type="password"
                        id="password-signup" />
                </div>
                <div>
                    <button type="submit" class="button modal-button btn btn-primary">Sign Up</button>
                </div>

            </form>
        </div>
    </div>
</div>




<!-- javascript file-->
<script src="/javascript/singup.js"></script>








{{!--

<section class="vh-100">
    <div class="container py-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body text-center">
                        <img class="urLogo" src="/images/richmond-long.png" alt="">
                        <h1>Bootcamp Champ <i class="bi bi-trophy"></i>
                            <h1>
                                <p class="sign">Create a new account</p>

                                <div class="form-outline mb-3">
                                    <input class="form-control form-control-lg text-center" type="text"
                                        id="username-signup" placeholder="Username" />
                                </div>

                                <div class="form-outline mb-3">
                                    <input class="form-control form-control-lg text-center" type="text"
                                        id="email-signup" placeholder="Email" />

                                </div>

                                <!-- GITHUB IF WE WANT TO ADD LATER  -->
                                <!-- <div class="form-outline mb-3">
                                <input type="text" id="gitHub" placeholder="GitHub Username"
                                    class="form-control form-control-lg text-center" />
                            </div> -->

                                <div class="form-outline mb-3">
                                    <input class="form-control form-control-lg text-center" type="password"
                                        id="password-signup" placeholder="Password" />

                                </div>


                                <button class="loginBtns btn btn-primary btn-lg btn-block" type="submit">Sign
                                    Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{{!-- <div class="main-signup text-center">
    <img class="urLogo" src="/images/richmond-long.png" alt="">
    <h1>Bootcamp Champ <i class="bi bi-trophy"></i></h1>
    <p class="sign">Welcome! Log in or sign up to view.</p>
    <form class="login-form">
        <p class="formLabel"><b>Sign Up</b></p>

        <div class="form-outline mb-3">
            <input class="form-control form-control-lg text-center" type="text" id="username-signup"
                placeholder="Username" />
        </div>

        <div class="form-outline mb-3">
            <input class="form-control form-control-lg text-center" type="text" id="email-signup" placeholder="Email" />
        </div>

        <!-- GITHUB IF WE WANT TO ADD LATER  -->
        <!-- <div class="form-outline mb-3">
                                <input type="text" id="gitHub" placeholder="GitHub Username"
                                    class="form-control form-control-lg text-center" />
                            </div> -->

        <div class="form-outline mb-3">
            <input class="form-control form-control-lg text-center" type="password" id="password-signup"
                placeholder="Password" />
        </div>

        <button class="loginBtns btn btn-primary btn-lg btn-block" type="submit">Sign
            Up</button>
</div> --}}






