<div class="card" style="width: 18rem;">
  <img src="./public/images/blank-profile-picture-973460_1280.webp" class="card-img-top" alt="profile image">
  <div class="card-header">{{username}}</div>
  <div class = "card-body">
    <p>
        Email: {{email}}<br>
        Github: {{github}}<br>
        About: {{about}}<br>
    </p>
  </div>
</div>